*{
    font-family: Arial, Helvetica, sans-serif
}
body{
    background-color: #9dd1dd;
}
.card{
    background-color: #3a9d81;
    padding: 15px;

    margin: 20px;
}
h1 a,h2 a{
    color: black;
}
.img-contents{
    width: 300px;
    margin-left: 50px;
    margin-bottom: 30px;
}
footer{
    text-align: center;
}
footer span{
    margin-left: 30px;
    margin-right: 30px;
}